@media screen and (max-width: 576px) {
  .bg_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0f172a;
    min-height: 100vh;
  }
  .image_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .image {
    height: 100px;
    width: 100px;
  }
  .heading {
    font-size: 30px;
    color: white;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .bg_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0f172a;
    min-height: 100vh;
  }
  .image_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .image {
    height: 300px;
    width: 300px;
  }
  .heading {
    font-size: 40px;
    color: white;
    text-align: center;
  }
}
